<div class="fade-in">
    <c-card class="mb-4">
        <c-card-header>
            <c-container>
                <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-start">
                        <h5>Add Product</h5>
                    </div>
                </div>
            </c-container>


        </c-card-header>
        <c-card-body>
            <form cForm novalidate (ngSubmit)="saveProduct()">

                <fieldset>
                    <div class="mb-3">
                        <label cLabel  for="productName">Product Name</label>
                        <input cFormControl id="productName" type="text" placeholder="Name" required
                            minlength="3" name="productName" />
                    </div>

                    <div class="mb-3">
                        <label cLabel for="category">Category</label>

                        <select id="category" name="category" aria-label="select a Product Category" cSelect>
                            <option>select category</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label cLabel for="manufacturer">Manufacturer</label>

                        <select id="manufacturer" name="manufacturer" aria-label="Default select example" cSelect>
                            <option>select manufacturer</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label cLabel for="productDescription">Description</label>
                        <textarea cFormControl id="productDescription" placeholder="Description..." rows="3"></textarea>

                    </div>
                    <div class="mb-3">
                        <label cLabel for="imageUpload">Image</label>
                        <input cFormControl id="imageUpload" type="file" />
                    </div>

                    <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

                    <div class="form-group">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button cButton color="success" style="min-width:80px" type="submit">
                                Save
                            </button>
                            <button cButton color="warning" variant="ghost" style="min-width:80px" class="me-md-2"
                                (click)="cancel()">
                                Cancel
                            </button>

                        </div>
                    </div>
                </fieldset>
            </form>
        </c-card-body>
    </c-card>
</div>