<div class="fade-in">
    <c-card class="mb-4">
        <c-card-header>
            <c-container>
                <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-start">
                        <h5>Add Product</h5>
                    </div>
                </div>
            </c-container>


        </c-card-header>
        <c-card-body>
            <form cForm novalidate #form="ngForm" (ngSubmit)="saveProduct(form)">

                <fieldset>
                    <div class="mb-3"> 
                        <label cLabel  for="productName">Product Name</label>
                        <input cFormControl id="productName" type="text" placeholder="Name" required
                            minlength="3" name="productName"  [(ngModel)]="productForm.name" />
                    </div>

                    <div class="mb-3">
                        <label cLabel for="category">Category</label>

                        <select id="category" name="category" 
                        [(ngModel)]="productForm.categoryId" aria-label="select a Product Category" cSelect>
                        <option *ngFor="let category of formProperties.categories" value="{{category.categoryId}}"> 
                            {{category.name}}
                        </option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label cLabel for="manufacturer">Manufacturer</label>

                        <select id="manufacturer" name="manufacturer" 
                        [(ngModel)]="productForm.manufacturerId" aria-label="Default select example" cSelect>
                            <option *ngFor="let manufacturer of formProperties.manufacturers" value = "{{manufacturer.manufacturerId}}">{{manufacturer.name}}</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label cLabel for="productDescription">Description</label>
                        <textarea cFormControl id="productDescription" placeholder="Description..."
                         rows="3" [(ngModel)]="productForm.description" name="description" ></textarea>

                    </div>
                    <div class="mb-3">
                        <label cLabel for="imageUpload">Image</label>
                        <input cFormControl id="imageUpload" type="file" />
                    </div>

                    <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

                    <div class="form-group">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button cButton color="success" style="min-width:80px" type="submit">
                                Save
                            </button>
                            <button cButton color="warning" variant="ghost" style="min-width:80px" class="me-md-2"
                                (click)="cancel()">
                                Cancel
                            </button>

                        </div>
                    </div>
                </fieldset>
            </form>
        </c-card-body>
    </c-card>
</div>