<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header>
      <c-container>
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-start">
            <h5>Products</h5> 
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary btn-sm" type="button" (click)="addNewProduct()">Add Product</button>
        </div>
      </div>
      </c-container>


    </c-card-header>
    <c-card-body>
      <table [hover]="true" [responsive]="true" [striped]="false" align="middle" cTable class="mb-0 border">
        <thead cTableColor="light">
          <tr>
            <th class="text-center">
              <svg cIcon name="cilPeople"></svg>
            </th>
            <th class="text-center">Name </th>
            <th class="text-center">Manufacturer</th>
            <th class="text-center">Category</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; index as i" >
            <td class="text-center">
              <c-avatar size="md" src="{{ product.avatar }}"></c-avatar>
            </td>
            <td class="text-center">
              <a [routerLink]="['/products/detail',  product.productId]">
                <div>{{ product.productName }}</div>
              </a>
            </td>
            <td class="text-center">
              <div>{{ product.manufacturer }}</div>
            </td>
            <td class="text-center">
              <div>{{ product.category }}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </c-card-body>
  </c-card>
</div>